*.dbg
*.lps
GeometricShape/*.exe
GeometricShape/lib/
SDL2/NOCT/bin/x86_64-win64/*.exe
SDL2/NOCT/lib/
SDL2/SDL2/
SDL2/Test/*.exe
SDL2/Test/bin/*.exe
SDL2/Test/lib/
Tests/CTC/bin/x86_64-win64/*.exe
Tests/ImgViewer/Bin/*.ini
Tests/ImgViewer/Bin/x86_64-win64/*.exe
Tests/ImgViewer/Lib/
Tests/CTC/lib
SDL2/bin/x86_64-win64/*.exe
SDL2/lib
Tests/PerlinNoise/bin/x86_64-win64/*.exe
/Tests/PerlinNoise/lib
